<aside data-sidebar-target="toggleable" class="Sidebar" hidden>
  <h6 class="px-3 text-gray text-uppercase">Applog space</h6>
  <nav class="Sidebar-nav">
    <a href="#" class="Sidebar-item" aria-selected="true">
      <%= octicon "repo" %>
      <span>Posts</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "tag" %>
      <span>Labels</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "people" %>
      <span>Team members</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "cpu" %>
      <span>Widgets</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "gear" %>
      <span>Settings</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "history" %>
      <span>Subscriptions</span>
    </a>
    <a href="#" class="Sidebar-item">
      <%= octicon "credit-card" %>
      <span>Billings</span>
    </a>
    <hr>
    <a href="#" class="Sidebar-item">
      <%= octicon "eye" %>
      <span>View posts</span>
    </a>
  </nav>
</aside>
