<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YellIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "https://js.stripe.com/v3/", "data-turbo-track": "reload" %>
    <%= yield :head %>
    <%= turbo_include_tags %>
  </head>

  <body data-controller="sidebar">
    <%= render "app/headers/default" %>
    <div class="d-flex">
      <%= render "app/sidebars/default" %>
      <main class="flex-1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
